@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}
html {scroll-behavior:smooth;}
::-webkit-scrollbar {
		width:0;
}
html, body {font-family: 'Noto Sans KR', sans-serif;}

body {height:2000px;}
img {
	display:block; max-width:100%;
}
a {text-decoration:none;}
h2 {
	text-align:center; font-size:3rem; 
	padding:80pt 0 40pt 0;
}



/*헤더 배경이미지 */
#top {
	height:100vh; position:relative;
	background:url("../images/bg.jpg") no-repeat fixed center top/cover;	
}

/*상단메뉴*/
#top nav {
	position:fixed; width:100%; z-index:1;		
	padding:13pt 10pt 13pt 10pt; font-weight:bold;
}
#top nav.act {
	background:black;
}

#top nav>div {	
	max-width:1300px; margin:auto;
	display:flex; justify-content:space-between;
}
#top nav p {
	color:white; font-size:1.2rem;
}

#menu a{
	color:white; display:inline-block;
	margin-left:20pt;
	text-shadow:0 0 10px black;
}
#menu a:hover, #menu a.act {
	color:tomato;
}

/*타자치는 효과*/
#typing {	
	padding-top:40vh;
	color:white; font-size:3.5rem;
	text-align:center;
	text-shadow:0 1px 10px black;
}
#click {	
	display:block; text-align:center; color:white; 	
	position:absolute; width:100%; bottom:20px;
}
#click .material-symbols-outlined {
	font-size:5rem; font-weight:bold;
	text-shadow:0 0 10px black;
	animation:down 1s both infinite;
}
@keyframes down {
	from {transform:translateY(-20px); opacity:0;}
	to   {transform:translateY(0); opacity:1;}
}
#click i {display:block; font-size:1.4rem;}


/*자기소개*/
#about {
	background:#ddd;
	padding-bottom:30pt; border:3px solid blue;
}
#about img {
	max-width:220pt; margin:auto;
}
#about q {	
	max-width:200pt; margin:auto; 
	text-align:center; display:block;
	padding-top:10px;
}
#about mark {
	background:gold; padding:1px 3px 4px 2px;
}
#about div {	
	max-width:950pt; margin:auto; display:flex;
	padding-top:60pt;
}
#about section:nth-child(1) {
	flex:1;
}
#about section:nth-child(2) {
	flex:1.8;
}
#about h3 {
	padding-bottom:10px;
}

/*스킬(포토샵/일러스트/등등)*/
#skill p:first-child label {
	padding-right:20px;
}
#skill progress {
	float:right; height:20px;
	-webkit-appearance:none;
	transform:translateY(2.5pt);
}
#skill ::-webkit-progress-bar {
	background:#eee; height:10px; border-radius:5px;
	overflow:hidden;
}
#skill ::-webkit-progress-value {
	background:tomato;
}

/*포트폴리오*/
#portfolio {	
	padding-left:20pt; padding-right:20pt;
	max-width:1400px; margin:auto; overflow:hidden;
	border:5px solid red;
}
#portfolio section {
	display:flex;	
}
#portfolio section:not(:first-of-type){
	height:100vh; padding-top:20vh;	
}

/*짝수 포폴 (2,4,6,..)에서는 이미지가 오른쪽에 배치됨*/
#portfolio section:nth-of-type(even) .left {order:2;}
#portfolio section:nth-of-type(even) .right {order:1;}


/* <section>중에서만 홀수 (1,3,5,7,...) */
#portfolio section:nth-of-type(odd) .left {
	margin-right:60pt;	
}
/* <section>중에서만 짝수(2,4,6,8,...) */
#portfolio section:nth-of-type(even) .left {
	margin-left:60pt;
}

#portfolio h3 {
	font-size:1.8rem; padding-bottom:20pt;
}
#portfolio ul {
	list-style:none; line-height:180%;
	padding-bottom:25pt;
}
#portfolio li {
	display:flex; padding-bottom:10px;
}
#portfolio b {flex:0.15;}
#portfolio span {flex:0.85; text-align:justify;}

/*바로가기 버튼 */
#portfolio p {
	display:flex; justify-content:center;
}
#portfolio a {
	border:1px solid #ddd; padding:5pt 27pt 6pt 27pt;
	border-radius:20pt; color:black; font-weight:500;
	font-size:1rem; display:inline-block; 
	margin:0 2pt 5pt 2pt; transition:0.5s;
}
#portfolio a:hover {
	background:#555; color:white;
}

/*첫번째 포폴*/
#port1 {
	padding:5vh 0 17vh 0;
	transform:translateY(200pt); opacity:0;
	transition:1s;
}
#port1.active {
	transform:translateY(0); opacity:1;
}

/*두번째 포폴*/
/*텍스트*/
#port2 .left {
	transform:translateX(50vw); transition:1s;
}
/*이미지*/
#port2 .right {
	transform:translateX(-50vw); transition:1s;
}
#port2 .left.active {
	transform:translateX(0);
}
#port2 .right.active {
	transform:translateX(0);
}

/*세번째 포폴*/
#port3 .left {
	transform:scale(0); opacity:0; transition:1s;
}
/*이미지*/
#port3 .right {
	transform:scale(0); opacity:0; transition:1s;
}
#port3 .left.active {
	transform:scale(1); opacity:1;
}
#port3 .right.active {
	transform:scale(1); opacity:1;
}


/* 이벤트 */
#event {	
	max-width:1200px; margin:auto;
	padding-bottom:30pt;
}
#event> div {
	display:flex; flex-wrap:wrap;
	justify-content:center;	
}
#event button {	
	position:relative; margin:10pt;
	cursor:pointer; border:none;
}
#event img {
	width:360px; transition:0.5s;
}
#event i.material-symbols-outlined {	
	font-size:3rem;  color:white;
	position:absolute; top:40%; left:43%;
	opacity:0; transition:0.5s;
}
#event b {	
	position:absolute; top:55%; left:40%;
	color:white; font-weight:normal;
	opacity:0; transition:0.5s;
	
}
/*이벤트의 각 섹션에 마우스를 댔을 때 */
#event div button:hover img {
		filter:brightness(0.2);
}
#event div button:hover i {
		opacity:1;
}
#event div button:hover b {
		opacity:1;
}

/* Contact */
#contact {
	background:#eee; height:100vh;
}
#contact div {
	display:flex; justify-content:space-between;
	max-width:600px; margin:auto; margin-top:5vh;
	text-align:center; 
}
#contact b {
	font-weight:300; padding-top:10pt; display:block;
	font-size:1.5rem;
}
/*  #contact .material-symbols-outlined,   */
#contact .fas {
	font-size:9rem; color:skyblue;
	font-weight:bold; margin-bottom:10pt;
}
#contact h3 {
	text-align:center; font-size:2rem;
}
#contact a:last-child {
	text-align:center; color:black; display:block;
}


/*큰 이미지 팝업 모달 */
#popup {
	position: fixed; top:0; left:0; z-index:1;
	width:100%; height:100vh; overflow-y:auto;
	background:rgba(0,0,0, 0.9); display:none;
	cursor:pointer;
}
#popup h3 {
	padding:20pt; text-align:center;
	color:white; font-size:1.7rem; background:black;
}
#popup img {
	margin:auto; max-width:80%;
}

/************ 작은 기계장치 (0~800픽셀 넓이) ************/
@media(max-width:800px) {
	h2 {
		padding-bottom:30pt;
	}
	
	/*상단(햄버거 + 홍길동이름) */
	#top > nav {		
		position:relative;
	}
	#top button {
		background:none; color:white;
		padding:0 5pt; border:none;
		font-size:1.7rem;
	}
	#top nav>div p {
		padding-left:0pt; padding-bottom:7pt;	
	}
	#menu {	
		/* display:none; */
		position:absolute;
		background:red; top:30pt; left:0;
		width:100%; height:100vh;
	}
	#menu a {margin:0;}		
	
	#about> div {
		flex-direction:column;		
		padding-left:10px; padding-right:10px;
	}
	#about section:not(:first-of-type) h3 {
		padding-top:20px;
	}
	#skill progress {
		min-width:42%;
	}
	
	/*포트폴리오*/
	#portfolio {
		padding-left:8pt; padding-right:8pt;
	}
	#portfolio section {
		flex-direction:column;		
	}
	#portfolio section:first-of-type {
		height:auto; padding-bottom:0;		
	}
	
	#portfolio section:not(:first-of-type) {
		min-height:100vh; height:auto;		
	}
	
	/* <section>중에서만 홀수 (1,3,5,7,...) */
	#portfolio section:nth-of-type(odd) .left {
		margin-right:0pt;	
	}
	
	/*짝수 포폴 (2,4,6,..)에서는 이미지가 오른쪽에 배치됨*/
	#portfolio section:nth-of-type(even) .left {order:1;}
	#portfolio section:nth-of-type(even) .right {order:2;}	
	/* <section>중에서만 짝수(2,4,6,8,...) */
	#portfolio section:nth-of-type(even) .left {
		margin-left:0pt;
	}
	#portfolio b {flex:2;}
	#portfolio span {flex:8;}
	
	/*바로가기 버튼 */
	#portfolio a {
		padding:5pt 4pt 6pt 4pt; letter-spacing:-1pt;
		font-size:0.98rem;
	}
	#port1 {
		padding-top:0;
	}
	/* Contact Us */
	#contact div {		
		width:90%;
	}
	#contact .fas {
		font-size:6rem;
	}
	
}/******** (max-width:800px)끝 ********/